<style>
body {
    display: flex;
    background: url(<%= asset_path 'course_1.jpeg' %>);
    display: flex;
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-flow: column;
    color: #fff;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.trips {
    height: 90vh;
    background-image: url('../../../public/images/course_1.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    flex-flow: column;
    color: #fff;
    font-size: 30px;
  }

  .title {
    background-color: #fff;
    opacity: 0.6;
    padding: 5px;
    margin: 5px;
    color: black;
    outline: 0 none !important;
    box-shadow: none !important;
    border-color: black !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;;
    border-radius: 25px;
    font-size: 40px;
  }

  .next_trip {
    font-size: 40px;
    align-items: center;
  }

  .next-trip-link {
    background: white;
    width: 50%;
    color: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    line-height: 3em;
    border-radius: 25px;
  }
  
  .next-trip-link:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }

  .trips__container {
    display: flex;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .trips__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  .trip__blocks {
    margin-bottom: 24px;
    display: flex;
    /* margin: 1em auto; */
  }
  
  .trip__block {
    align-items: center;
    max-width: 1120px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex: 1;
    border-radius: 10px;
  }
  
  .trip__block__div {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    padding: 0.5em .25em;
  }
  
  .trip__block__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .trip__block__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .trip__block__info {
    background-color: #fff;
    padding: 20px 30px 30px;
  }
  
  .trip__block__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .trips__blocks {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .trips__block {
      margin-bottom: 2rem;
    }
  }

.btn-outline-primary{
  margin: 20px;
  background-color: white;
  opacity: 0.7;
  padding: 20px;
  font-size: 1.5em;
  color: black !important;
  outline: 0 none !important;
  box-shadow: none !important;
  border-color: black !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;;
  border-radius: 25px;
}

.btn-outline-primary:hover {
    background-color: gray !important;
}

.btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn.active-outline-primary:focus {
  outline: 0 none !important;
  box-shadow: none !important;
  border: none !important;
}

.btn-outline-danger{
  margin: 1px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;;
  font-size: 1.2em;
  color: black !important;
  outline: 0 none !important;
  box-shadow: none !important;
  border-color: black !important;
  background-color: rgb(222, 74, 72);
  font-color: black !important;
}

.btn-outline-danger:hover {
    background-color: rgb(191, 146, 112) !important;
} 
</style>

<div class='trips'>
    <div class='title'>
        <h1>Welcome back, <%= @golfer.first_name %>, you fuck!</h1>
    </div>
    <br>
    <div class='next_trip'>
        <% if @golfer.is_registered_for_next_trip(@next_trip) %>
            <h3>See you at KPC <%= @next_trip.number %>!</h3>
        <% else %>
            <form action="/trip_register">
                <button id="dashboard_header" type="submit" class="btn btn-outline-primary">Sign up for KPC <%= @next_trip.number %></button>
            </form>
        <% end %>
    </div>
    <br>
    <br>
    <form action="/logout">
        <button id="dashboard_header" type="submit" class="btn btn-outline-primary">LOG OUT</button>
    </form>
</div>