<h2>KPC Password Reset</h2>
<p>Hey <%= @golfer.nickname %>,</p>
<p>Someone requested a password reset for your KPC account. Click the link below to set a new password. This link expires in 2 hours.</p>
<p><a href="<%= @reset_url %>">Reset My Password</a></p>
<p>If you didn't request this, you can ignore this email.</p>
